.cardFinderHeader {
  width:70vw;
  height: 30px;
  align-items: start;
  justify-content: start;
margin-top:10px;
position: fixed;
z-index: 1;

}

.searchInput{
    background-color:rgb(197, 203, 225, 0.9);
    text-align: center;
}

.cardsContainer{
    
    display:block;
    margin:auto;
    margin-top:60px;
    text-align: center;
    width:90%
}

.loading{
    position: absolute;
    left:60vw;
    width:100px;
    display: inline-block;
} 