.fullCardContainer {
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 80%;
}

.aside {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex: auto;
}

.oracle {
  border: 1px solid rgb(3, 0, 0);
  margin-bottom: 20px;
  overflow: auto;
}

.ruling {
  overflow: auto;
}

.cardImage {
  border: 0px solid red;
  width: 50%;
  padding-bottom: 10px;
  max-height: 75vh;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

img {
  max-width: 100%;
  max-height: 90vh;
}

b {
  font-weight: bold;
  color: black;
}

.rulingPar {
  margin-bottom: 8px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

@media only screen and (max-width: 900px) {
  .fullCardContainer {
    flex-direction: column;
    overflow: auto;
  }
  .cardImage {
    width: 90%;
  }
  .ruling {
    width: 100%;
  }
  .oracle {
    width: 100%;
  }
  .aside{width:90%}
}
