.cardContainer {
  padding-top: 25px;
  width: 20%;
  height: 120px;
  margin: 5px;
  position: relative;
  float: left;
  opacity: 0.9;
  transition: all 0.5s ease-out;
}

.cardName {
  font-weight: bold;
  text-shadow: 2px 1px 2px black;
  color: whitesmoke;
  margin: auto;
  text-align: center;
}

.cardContainer:hover {
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  .cardName {
    font-size: smaller;
    text-align: center;
  }
}
