.navCard {
  padding: 10px;
  height: 80%;
  text-align: center;
  color: #b1b6ca;
  user-select: none;
  border: 1px solid #0f1118;
  margin: 0px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #282c34;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.navCard:hover {
  color: var(--primary-color);
}

.navCard:active {
  text-shadow: -0.2px -0.2px 1px white;
}
