.userCard {
  height: 1.8em !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
}

.name {
  font-size: 8px;
  text-align: center;
}

.picker {
  height: 1em !important;
  width:15px;
  flex-direction: column;
  position: relative;
  float: left;
  animation: picker-appears 0.5s ease-out forwards;
  margin-top: 3px;

}

.userPickerDiv{
  width:50px;
    display: flex;
    flex-direction: row;
    position:absolute;
    opacity:0.6;
    z-index:10;
    transition: 0.3s;
}

.userPickerDiv:hover{
  opacity:0.8;
}

@keyframes picker-appears {
    from {
      opacity: 0;
      transform: translateY(-2rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
      color: #fafafa;
    }
  }
