.footer-div {
  position: absolute;
  width: 100%;
  bottom: -15vh;
  height: 20vh;
  min-height:calc(15px + 3vmin);
  background-color: rgb(40, 44, 52);
  opacity: 0.85;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 20px 20px 0px 0px;
  border-top: 1px black solid;
  transition: all 0.5s ease-out;
  z-index: 2;
}

.footer-div:hover{
    cursor:pointer;
}

.footerExpanded-div{
    height:85vh;
    opacity: 0.97;
    bottom: 0px;
    transition: all 0.5s ease-out;
}

.footerTitle{
  text-shadow: 2px 2px 1px #131416;
  color: var(--primary-color);
  font-family: Orbitron, sansSerif;
  font-size: calc(15px + 3vmin);
  animation: header-appears 1s ease-out forwards;
  display: flex;
  opacity:0.8;
  color:white
}