.bar {
  width: 5px;
  border-radius: 0px 5px 5px 0px;
  height: 100%;
  position: absolute;
  right: 0px;
  bottom: 0;
  border-left: solid rgb(65, 62, 62) 1px;
}

.lifeBar {
  background: red;
  overflow: hidden;
}

.deathBar {
  background-color: green;
  bottom: 0px;
  position: absolute;
  right: 0;
  transition: all 0.5s ease-out;
}

.container {
  margin: 10px;
  user-select: none;
  display: flex;
  border: 1px solid rgb(36, 3, 3);
  flex-direction: column;
  background: rgb(184, 167, 167);
  border-radius: 5px;
  align-items: center;
  box-shadow: 3px 5px 3px rgb(136, 62, 62, 0.5);
  padding-right: 9px;
  padding-left: 2px;
  position: relative;
}

.userBox {
  position: absolute;
  right: 70px;
  color: white;
  border-radius: 20px 0px 0px 20px;
  background-color: #282c34;
  padding-bottom: 8px;
}

.userBoxEmperor {
  position: relative;
  right: 16px;
  color: white;
  border-radius: 10px 0px 0px 10px;
  background-color: #282c34;
  padding-bottom: 6px;
  box-shadow: 3px 5px 3px rgb(136, 62, 62, 0.5);
  border: 1px black solid;
  bottom: 1px;
  border-bottom: 20px;
}
