.barsContainer {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 45vh;
  width: 75vw;
  margin:auto;
}

.gameSelector {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  border-radius: 20px;
  text-align: center;
  flex: 1;
  padding: 0 1em;
  color: balck;
  background-color: rgb(197, 203, 225, 0.9);
  background-image: none;
  cursor: pointer;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Arrow */
select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: rgb(197, 203, 225,);
  transition: .25s all ease;
  pointer-events: none;
}

.generala {
  border-color: lightskyblue;
}

.emperora{border-color: blue;}

.generalb {
  border-color: lightcoral;
}

.emperorb{
  border-color: red;
}