.storyDiv {
  border: 1px black solid;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  margin: 5px 0px;
  background: rgb(177, 147, 136);
  font-weight: bold;
  padding: 2px;
  text-decoration: line-through solid rgb(42, 10, 94) 2px;
  flex-direction: row;
}

.last {
  text-decoration: none;
  background-color: greenyellow;
}

.dead {
  background-image: url("../../imgs/skull.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}


