.lifeTracker {
    position: absolute;
    bottom: 35px;
    min-width: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    animation: lifeTraker-dissappears 1s ease-out forwards;
    user-select: none;
  }
  
  @keyframes lifeTraker-dissappears {
    from {
      opacity: 1;
      transform: translateY(1rem);
    }
  
    to {
      opacity: 0;
      transform: translateY(0);
      color: #fafafa;
    }
  }
  