.diceContainer {
    box-shadow: 1px 8px 16px 1px rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    background-color: rgb(147, 165, 214);
    background-position: center;
    background-size:contain;
    margin: 50px auto !important;
    width:215px;
    height:215px;
    display:block;
    border-radius: 20px;
    text-align:center;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    color: var(--primary-color);
    text-shadow: #216099 3px 5px ;
    cursor:pointer;
    user-select: none; 
}

.diceContainer > p {
    margin-top:7px
}

.critical {
    color:green;
}

.fumble {
    color:red;
}

.rotate {
    -webkit-animation: rotate 3s normal linear infinite;
    animation: rotate 3s normal linear infinite;
}

@keyframes rotate {

  0% {
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0,  1);
    border-radius: 50%;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  20% {
    box-shadow: 1px 8px 16px 1px rgba(228, 17, 17,  1);
    border-radius: 50%;
    -webkit-transform: rotate3d(0, 0, 1, 72deg);
    transform: rotate3d(0, 0, 1, 72deg);
  }
  40% {
    box-shadow: 1px 8px 16px 1px rgba(15, 128, 43,  1);  
    border-radius: 50%;
    -webkit-transform: rotate3d(0, 0, 1, 144);
    transform: rotate3d(0, 0, 1, 144deg);
  }
  60% {
    box-shadow: 1px 8px 16px 1px rgb(240, 247, 200);
    border-radius: 50%;
    -webkit-transform: rotate3d(0, 0, 1, 216);
    transform: rotate3d(0, 0, 1, 216deg);
  }
  80% {
    box-shadow: 1px 8px 16px 1px rgba(61, 48, 240, 1);
    border-radius: 50%;
    -webkit-transform: rotate3d(0, 0, 1, 288);
    transform: rotate3d(0, 0, 1, 288deg);
  }
  100% {
    box-shadow: 1px 8px 16px 1px rgb(0, 0, 0);
    border-radius: 50%;
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
