
  #nav {
    width: 80vw;
    background-color: var(--primary-color);
    overflow: auto;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    font-family: Orbitron, sansSerif;
    border:1px solid black;
    border-radius: 0px 0px 20px 20px;
    border-top: 1px solid rgb(255, 255, 255, 0.3);
   
  }
  
  
  .header-title {
    text-shadow: 2px 2px 1px #131416;
    color: var(--primary-color);
    font-family: Orbitron, sansSerif;
    font-size: calc(20px + 3vmin);
    animation: header-appears 1s ease-out forwards;
    display: flex;
  }
  
  .App-header {
    background-color: rgb(40, 44, 52, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    border-radius: 0px 0px 20px 20px;
    border-bottom: 1px black solid;
    margin-bottom:10px;
  }
  
  
  
  @keyframes header-appears {
    from {
      opacity: 0;
      transform: translateY(1rem);
      
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
      color:#fafafa
    }
  }
  