.navButtonDiv {
    font-style: none; 

}

.navButtonUl {
    list-style: none;
    text-align: justify;
    display:flex;
    flex:1;
    justify-content: space-around;
    align-items: center;
    
}

.dice {
    height:1.8em;
}