.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


#main {
  background: rgb(197, 203, 225, 0.80);
  width: 80vw;
  min-height: 50vh;
  margin: auto;
  border-radius: 10px;
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  overflow: auto;
  max-height: 65vh;
}
